body {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-image: url(https://99px.ru/sstorage/86/2020/10/image_861910201319372198972.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: all 0.3s ease-in-out;
}

.header {
    background-color: #434a54;
    border-radius: 10px;
}

.container {
    display: flex;
}

.menu {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    color: white;
}

.menu li {
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: aliceblue;
}

.menu__link:hover {
    transition-delay: 0.5ms;
    color: green;
}

.rectangle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    height: auto;
    max-height: calc(100vh - 100px);
    background-color: #222e4b;
    border-radius: 20px;
    color: white;
    display: inline-block;
    border: solid 2px;
    border-color: black;
}
.rectangle:nth-of-type(2){
    background-color: #222e4b;
    margin-top: 400px;
}
.info {
    text-align: center;
    padding: 0 0;
}

.about {
    padding: 0 5%;
}

.about p {
    margin: 0;
}

.hobby__work {
    padding: 0 5%;
}

.hobby__work p {
    margin: 0;
}

.media {
    text-align: right;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 0;
}

.media__link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0;
    gap: 25px;
    margin-bottom: 2%;
}

.media__link:hover {
    transition-delay: 0.5ms;
    color: white;
    background-color: green;
}

.footer {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #434a54;
    height: 50px;
    display: flex;
    width: 100%;
}

.footer_menu {
    display: flex;
    margin: 0 auto;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.footer__link:hover {
    transition-delay: 0.5ms;
    color: green;
}
.footer_text{
    margin: 0 auto;
}

.theme_change {
    background-color: green;
    border-radius: 10px;
}

.rectangle:nth-of-type(2) .skills {
    padding-left: 25px;
    padding-bottom: 20px;
    float: left;
    width: 50%;
}

.rectangle:nth-of-type(2) .skills img {
    vertical-align: middle;
}

.rectangle:nth-of-type(2) .skills p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
    border: solid 2px;
    border-color: white;
}
.rectangle:nth-of-type(2) .project{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

